:root {
    --border-green-1px: solid 1px green;
    --main-font: 'Space Mono', Courier, monospace;
}

body {
    font-family: var(--main-font);
    font-size: 1rem;
    color: #fff;
    background-color: #000;
}

#game-container {
    height: 95vh;
}

/* ----- MESSAGE ----- */
.message {
    background-color: #000;
    border-top: solid 1px green;
    font-size: 1rem;
    margin: 0;
    padding: 0.25rem;
    height: 3rem;
}

/* ---- OUTPUT BOX ----- */

/* Container */
.display {
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem auto;
    content: "";
    width: 250px;
    color: green;
    text-align: center;
    font-size: 1.5rem;
    border: var(--border-green-1px);
    background: #000;
}

.output-title {
    margin: 0.1rem;
    padding: 0;
}

/* Text output goes here */
.output {
    /* background-color: blue; */
    border-top: var(--border-green-1px);
    width: 100%;
    aspect-ratio: 1/1;
    flex-grow: 1;
    align-content: center;
}

.display-text-2 {
    /* border: solid 1px purple; */
    margin: auto;
    width: 3ch;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    line-height: 95%;
    font-size: 2rem;
    animation: 
        float 1s ease-in-out infinite alternate; 
        /* spin 15s linear infinite; */
}

.display-text-2>.box {
    /* border: solid 1px #FFF; */
    width: 1ch;
}

@keyframes float {
    0% {
        gap: 0.2rem;
        /* font-size: 2rem; */
    }
    100% {
        gap: 0rem;
        /* font-size: 1.25rem; */
        color: rgb(45, 213, 45);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ---- USER CONTROLS ---- */

.user-control-container {
    display: flex;
    justify-content: center;
}

/* User input container */
.control {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    margin: 1rem;
    justify-content: center;
    padding: 0.25rem;
    border: double 0.25rem green;
    background: #000;
}

/* User input text fields */
.user-input {
    /* background-color: grey; */
    background-color: transparent;
    color: green;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 1em;
    height: 1.25em;
    text-align: center;
    align-content: center;
    font-family: var(--main-font);
    font-size: 2rem;
}

.user-input:focus {
    outline: none;
    background: green;
    color: #000;
}

/* ---- BUTTONS ---- */

.buttons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1rem;
}

.btn {
    display: block;
    color: green;
    background-color: #000;
    border: solid 0.1rem green;
    font-family: inherit;
    font-size: 1.1rem;
}

.btn:focus {
    outline: none;
    background: green;
    color: #000;
}

/* ----- BACKGROUND EFFECTS ----- */

.ripple {
    background: repeating-linear-gradient(
        0deg, 
        rgba(2,0,36,0), 
        rgba(43,121,9,0.20) 1.5%, 
        rgba(0,0,0,0) 2%,
        rgba(97, 255, 186, 0.132) 3%,
        rgba(0,0,0,0) 3.5% );
    background-position-y: 0%;
    animation: ripple 0.5s linear infinite forwards;
}

@keyframes ripple {
    0% {
        background-position-y: 0;
    }
    100% {
        background-position-y: 3vh;
    }
}


/* ----- UNLOCK SEQUENCE ----- */

.unlock-sequence {
    /* display: none; */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--main-font);
    transform: translate(50vw, 32vh);
    /* opacity: 0; */
    width: 1px;
    height: 1px;
    background-color: lightgreen;
    white-space: pre-wrap;
    text-align: center;
    align-content: center;
    overflow: hidden;
}

.show-sequence {
    font-weight: 700;
    animation: title-seq 3s linear forwards;
}

@keyframes title-seq {
    0% {
        opacity: 0;
    }
    15% {
        background-color: rgb(0, 128, 0);
        opacity: 1;
        width: 100%;
        transform: translate(0%, 32vh);
        height: 2px;
    }
    17% {
        background-color: rgb(144, 238, 144);
    }
    20% {
        background-color: rgb(0, 255, 0);
    }
    
    23% {
        background-color: rgb(255, 0, 0);
    }
    
    27% {
        background-color: rgb(0,0,255);
    }
    
    30% {
        background-color: rgb(0, 255, 0);
    }

    35% {
        background-color: rgb(255, 255, 255);
    }
    38% {
        background-color: rgb(144, 238, 144);
    }
    42% {
        background-color: rgb(0, 255, 0);
    }
    
    45% {
        background-color: rgb(255, 0, 0);
    }
    
    50% {
        background-color: rgb(0,0,255);
    }
    
    55% {
        background-color: rgb(0, 255, 0);
    }

    60% {
        background-color: rgb(255, 255, 255);
    }
    
    75% {
        transform: translate(0%, 32vh);
        height: 3px;
        
    }
    80% {
        /* color: rgb(0,0,0); */
        font-size: 0.1rem;
        background-color: #000;
        transform: translate(0%, 0%);
        width: 100vw;
        height: 100vh;
    }
    90% {
        color: rgb(0, 128, 0);
    }
    100% {
        font-size: 1rem;
        color: rgb(255,255,255);
        background-color: #000;
        transform: translate(0%, 0%);
        width: 100vw;
        height: 100vh;
    }
}

.titleGlow {
    animation: titleBlur 2s alternate infinite;
}

@keyframes titleBlur {
    0% {
        filter: blur(0);
        text-decoration: none;
    }
    80% {
        filter: blur(0px);
        text-decoration: none;
    }
    95% {
        filter: blur(1px);
        text-decoration: underline solid #fff 1px;
    }
    100% {
        filter: blur(8px);
        text-decoration: underline solid green 3px;
    }
}

.titleGlow::before, .titleGlow::after {
    display: block;
    margin: 2rem 50%;
    font-size: 2rem;
    font-weight: 300;
    content: "<<<<";
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    opacity: 0;
    text-decoration: none;
}

.titleGlow::before {
    animation: titleArrowUp 2s alternate 2s infinite forwards;
}

@keyframes titleArrowUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(-1rem);
    }
}

.titleGlow::after {
    animation: titleArrowDown 2s alternate 4s infinite forwards;
}

@keyframes titleArrowDown {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(1rem);
    }
}